.Nav {
  position: sticky;
  top: 0;
  left: 0;
}

.Nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(36, 35, 35);
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.Nav li {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Nav a {
  text-decoration: none;
  color: white;
  display: flex;
  padding: 20px 20px;
  font-weight: 700;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.Nav a:hover {
  background-color: rgb(77, 77, 77);
}

.Nav a:focus {
  background-color: transparent;
}

.cart-icon {
  width: 22px;
  height: 22px;
  margin-top: 2px;
}

.cart-quantity {
  min-width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 12px;
  margin-bottom: 10px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  padding: 4px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
